
<div class="baseplate text-center">
	<div class="col">this is one col</div>
	<div class="col">this is two col</div>
	<div class="col">this is three col</div>
</div>

<div class="baseplate text-center">
<div class="col text-center">this is half</div>
<div class="col text-center">this is 2nd half</div>
</div>

<div class="baseplate">
	<div class="col text-center">This is one full</div>
</div>
